*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}
.container{
    max-width: 80%;
    margin: 0 auto;
}
.bg-section{
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
}
.bg-section_title{
    margin-bottom: 15px;
    color: lightcoral;
}
.example-row{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.example-box{
    width: 200px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: lightcoral;
    
    border-radius: 10px;
    box-shadow: 0 2px 15px  lightcoral;
}
.color{
    background-color:
     cornflowerblue;
}
.rgba{
background-color: rgba(71, 89, 154, 0.5);
}
.repeated{
    width: 200px;
    height: 150px;
background-image: url('https://habsida-lms.s3.ap-northeast-2.amazonaws.com/webcore/logo.svg');
background-repeat: repeat;
background-size: cover;
background-position: center;
background-size: 50px 50px;
}
.cover{
width: 200px;
    height: 150px;
background-image: url('https://habsida-lms.s3.ap-northeast-2.amazonaws.com/webcore/logo.svg');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}
.contain{
width: 200px;
    height: 150px;
background-image: url('https://habsida-lms.s3.ap-northeast-2.amazonaws.com/webcore/logo.svg');
background-size: contain;
background-repeat: no-repeat;
background-position: center;
}

.center{
    width: 200px;
    height: 150px;
background-image: url('https://habsida-lms.s3.ap-northeast-2.amazonaws.com/webcore/logo.svg');
background-repeat: no-repeat;
background-size: 50px 50px;
background-position: center;
background-color: #667eea;
}

.left{
    width: 200px;
    height: 150px;
background-image: url('https://habsida-lms.s3.ap-northeast-2.amazonaws.com/webcore/logo.svg');
background-repeat: no-repeat;
background-size: 50px 50px;
background-position: left bottom;
background-color: #667eea;
}

.right{
    width: 200px;
    height: 150px;
background-image: url('https://habsida-lms.s3.ap-northeast-2.amazonaws.com/webcore/logo.svg');
background-repeat: no-repeat;
background-size: 50px 50px;
background-position: right top;
background-color: #667eea;
}

.linear{
width: 200px;
height: 150px;
background: linear-gradient(to right, #00070b, #6f8078);
}
.radial{
    width: 200px;
    height: 150px;
    background: radial-gradient(circle, #81d00a, #764ba2);
}
.conic{
    width: 200px;
    height: 150px;
    background: conic-gradient(yellow, rgb(0, 255, 195), #d810ca);
}

.fixed{
width: 100%;
height: 200px;
background-image: url('https://habsida-lms.s3.ap-northeast-2.amazonaws.com/webcore/logo.svg');
background-size: contain;
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
}